* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #837E9F;
  font-family: 'Merriweather Sans', sans-serif;
}

.img{
  height: 60px;
  width: 60px;
  border: 1px solid #837E9F;
  border-radius: 500px;
}

body{
  background-color: #22212C;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-menu {
  height: 500px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.left-menu div{
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  background-color: #302F3D;
  width: 90%;
  max-width: 150px;
  min-width: 125px;
  margin-top: 15px;
}

.left-menu-top{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  font-size: 8px;
}

.left-menu-top h2 {
  margin-top: 10px;
  font-weight: 700;
}

.left-menu-top p{
  font-size: 6px;
  margin-top: 2px;
  font-weight: 400;
}

.left-menu-center{
  height: 50%;
}

.left-menu-center ul{
  list-style: none;
  margin: 20px 4.5px;
}

.left-menu-center ul li{
  margin-top: 18px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.left-menu-center ul li p{
  margin-left: 5px;
  font-size: 6px;
}

.left-menu-center img{
  height: 10px;
  margin-left: 15px;
  margin-right: 5px;
}

.left-menu-bottom{
  height: 20%;
  margin-bottom: 10px;
}

.left-menu-bottom h2{
  font-size: 10px;
  margin: 10px;
  margin-bottom: 5px;
}

.tecnologies {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  font-size: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.tecnologies li{
  border: none;
  border-radius: 10px;
  background-color: #CB92B1;
  color: black;
  font-weight: 700;
  margin: 5px;
  padding: 2px;
  width: 35px;
}



.center-menu{
  width: 60%;
  height: 100%;
  margin: 15px 15px;
}

.my-projects{
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
  font-size: 8px;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: #302F3D;
}

.my-projects span{
  font-size: 6px;
}

.my-folders{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.folder1, .folder2{
  border-radius: 15px;
  height: 100%;
  width: 49.5%;
  background-color: #302F3D;
  box-shadow: 1px 1px 1px black;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.folder1 p, .folder2 p{
  margin-top: 9px;
}

.folder1 img, .folder2 img{
  height: 10px;
  margin: 10px 10px 0 10px;
}

.folder1-title, .folder2-title{
  display: flex;
  font-weight: 700;
}

.folder1-content,.folder2-content{
  font-size: 0.7em;
  margin: 0 10px;
}

.folder1-numbers,.folder2-numbers{
  position: relative;
  right: 18%;
  scale: 0.6;
}

.recent-posts{
  height: 15%;
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
  font-size: 8px;
  font-weight: 700;
  background-color: #302F3D;
  margin-top: 20px;
}
